body {
  font-size: 18px;
  width: 700px;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 150px;
  color: #333333;
}

.flex {
  display: flex;
}

.page-info-container {
  margin-bottom: 40px;
}

.sans {
  font-family: 'Source Sans Pro', sans-serif;
}

.serif {
  font-family: 'Source Serif Pro', serif;
}

p, li {
  font-size: 18px;
}

img {
  width: 100%;
}

.light-text {
  color: rgb(155,154,151);
}

.w100 {
  width: 100%;
}

.w90 {
  width: 90%;
}

.w70 {
  width: 70%;
}

.w60 {
  width: 60%;
}

.m-auto {
  margin: auto;
}

.db {
  display: block;
}

li {
  margin: 6px 0px;
}

.header {
  margin: 12px 0px;
}

.sub-header {
  font-size: 18px;
  margin: 3px 0px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.first-paragraph {
  margin-top: 40px;
}

.highlight {
  color: #FF725C
}

.italic {
  font-style: italic;
}

b {
  color: black;
}
