#units {

    float: right;
}

#teacher {
    float: left;
}

#desc {
  float:left;
}

.left {
  float: left;
}

ul {
    list-style-type: none;
}

.important {
 font-weight:bold;
}


td {
    padding:8px;
}

#title {
    float: left;
}

#add {
    float: right;
    margin-right:250px;
}

#subjects {
    max-height: 500px;
    overflow: auto;
}

#classes {
    max-height: 500px;
    overflow-y: auto;
    overflow-x:hidden;
}

.con {
    color: #F0698B;
}

#added {
    text-align: center;
}
#addedd {
    text-align: center;

}

#taking {
    font-weight: bold;
    font-size: 25px;
}

.bold {
  font-weight:bold;
}

#time {
 float: left;
 padding-left: 8px;
 padding-right: 1px;
 border-left: 2px solid;
}

#mainCard {
  padding-right: 3px
}

.label-SSD {
  background-color: #FF4040;
}

.label-DG {
  background-color: #00A779;
}

.label-DD {
  background-color: #FF5C00;
}

.label-BM-SS {
 background-color: #0E53A7;
}

.label-Intro {
 background-color: #FF9C00;
}

.labelBox {
  padding-top: 9px;
  padding-left: 90px;
}



#attributes {
 vertical-align:middle;
}

