.projects {
  font-family: 'Roboto', sans-serif;

  .slab {
    font-family: 'Roboto Slab', serif;
  }

  .site-container {
    margin: auto;
    width: 100%;
    max-width: 600px;
  }

  .project-description {
    margin-top: .6rem;
    margin-bottom: 1.5rem;
  }

  a {
    color: #2d2d2d;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid #72D1A6;
  }

  a:hover {
    opacity: .75;
  }

  .project-link {
    font-family: 'Roboto Slab', serif;
    font-size: 1.25rem;
    border-bottom: 2.5px solid #72D1A6;
  }

}

.blogpost {
  font-family: 'Crimson Text', serif;
  font-size: 1.1rem;
  max-width: 640px;
  width: 100%;
  margin: auto;

  .homepage-link {
    text-decoration: none;
  }

  .markdown {
    p {
      line-height: 1.3;
    }

    p > img {
      display: block;
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

    h1 {
      font-size: 1.5rem;
      font-family: 'Rosario', sans-serif;
    }

    pre {
      font-size: 1rem;
      font-family: monaco, monospace;
    }
  }

  a {
    color: #d64f37;
    cursor: pointer;
  }

  a:hover {
    opacity: .75;
  }
}
