/* Most of the grid logic is from http://css-tricks.com/dont-overthink-it-grids/ */

html {
  font-family: 'Roboto', sans-serif;
}

.slab {
  font-family: 'Roboto Slab', serif;
}

.site-container {
  margin: auto;
  width: 100%;
  max-width: 600px;
}

.project-container {

}

.project-description {
  margin-top: .6rem;
  margin-bottom: 1rem;
}

a {
  color: #2d2d2d;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid #72D1A6;
}

a:hover {
  opacity: .75;
}

.project-link {
  font-family: 'Roboto Slab', serif;
  font-size: 1.25rem;
  border-bottom: 2.5px solid #72D1A6;
}
